#citypopup {
  border-style: solid;
  border-color: #ccd2d9;
  border-radius: 3px;
  border-width: 1px;
  padding-left: 10px;
  margin: 50px;
  width: 500px;
}

#fiveDay {
  margin-left: 0;
  margin-right: 0;
}

#forecasts {
  background-color: #0064c2;
  border-width: 1px;
  border-style: solid;
  border-color: #ccd2d9;
  border-radius: 10px;
  margin: 5px;
  color: #ffffff;
  font-size: small;
  float: left;
}
